body {
    background: url("../images/wllp_background.png") top left;
}
/*TODO remove this?*/
.focusable:focus {
    outline: #5B9DD9 solid 2px;
}

.no-focus {
    outline: none;
}

/* HEADER */

.header {
    padding: 30px 0 40px 0;
}

h1.logo {
    text-align: center;
    display: none;
}

.logo-container {
    background: url("../images/wllp_logo_lg.png") center center no-repeat;
    display: block;
    width: 244px;
    height: 105px;
    margin: 0 auto;
    background-size: contain;
}

@media (max-width: 1480px) {
    .ie7 .logo-container,
    .ie8 .logo-container {
        background: url("../images/wllp_logo_md.png") center center no-repeat;
    }

    .logo-container {
        width: 201px;
        height: 87px;
    }
}

@media (max-width: 991px) {
    .ie7 .logo-container,
    .ie8 .logo-container {
        background: url("../images/wllp_logo_sm.png") center center no-repeat;
    }

    .logo-container {
        width: 156px;
        height: 67px;
    }
}

.full-wrapper {
}

/* Container Breakpoints*/
.no-margin {
    margin: 0;
}

.custom-container {
    max-width: 1440px;
    margin: 0 auto;
}
.ie7 .custom-container,
.ie8 .custom-container {
    width: 926px;
}

.player-wrapper {
    width: 960px;
    height: 540px;
}

.ie7 .player-wrapper,
.ie8 .player-wrapper {
    width: 617px;
    height: 347px;
}

@media (max-width: 1480px){
    .custom-container {
        max-width: 960px;
        width: 960px;
        margin: 0 auto;
    }
    .ie7 .custom-container,
    .ie8 .custom-container {
        width: 926px;
    }
    .player-wrapper {
        width: 640px;
        height: 360px;
    }
    .ie7 .player-wrapper,
    .ie8 .player-wrapper {
        width: 617px;
        height: 347px;
    }
}

@media (max-width: 991px){
    .custom-container {
        max-width: 722px;
        width: 722px;
        margin: 0 auto;
    }
    .ie7 .custom-container,
    .ie8 .custom-container {
        width: 926px;
    }
    .player-wrapper {
        width: 482px;
        height: 271px;
    }
    .ie7 .player-wrapper,
    .ie8 .player-wrapper {
        width: 617px;
        height: 347px;
    }
}

.container-box {
    /* Remove this background to hide the "box"" effect */
    background: url("../images/wllp_player_background.png");

    /* TODO -- Remove this on mobile */
    margin-top: 50px;
}

.ie7 .container-box {
    min-width: 926px;
    max-width: 926px;
    position: relative;
    overflow: hidden;
}

.ie8 .container-box {
    min-width: 960px;
    max-width: 960px;
}

@media (max-width: 991px) {
    .container-box {
        margin-top: 0;
    }
}

.nopad {
    padding: 0;
}

.resume-splash {
    display: none;
    position: absolute;
    background-color: #000;
    padding-top: 20.5%;
    padding-left: 42.5%;
    opacity: 0.5;
    cursor: pointer;
    width: 100.1%;
    height: 100%;
}
.resume-splash img {
  width: auto;
  height: 50%;
  max-height: 142px;
}

.ie7 .resume-splash {
    width: 57.5%;
    height: 63%;
    filter: alpha(opacity=50);
}

.ie8 .resume-splash {
  top: 0;
  left: 0;
  width: 617px;
  height: 347px;
  filter: alpha(opacity=50);
  padding-top: 18%;
  padding-left: 42%;
}

.prepared-for-text {
    font-family: 'PrecisionSans_Regular';
    text-align: center;
}

/* FOOTER */

.footer {
    font-family: 'PrecisionSans_Light';
    color: #ffffff;
    padding: 0 10px;
    margin-top: 30px;
    font-size: 0.8em;
    min-width: 700px;
}

.footer a {
    color: #ffffff;
}

.ie7 .footer {
    margin-top: 30px;
    min-width: 875px;
    max-width: 925px;
}


.ie8 .footer {
    margin-top: 30px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    min-width: 875px;
    max-width: 925px;
}

